@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body {

    margin: 20px;
    padding: 10px;
    background: #e9e9ec
}

header {
    background: #586F7C;
    padding: 5px;

}

h1 {
    color: #F4F4F9;
    font-family: 'Ubuntu', Courier, monospace;
    font-weight: 500;


}


h2,h3 {
    color: #2F4550;
    font-family: 'Ubuntu', Courier, monospace;
    font-weight: 500;
}




p {
    color: #000000;
    font-family: 'Ubuntu', Courier, monospace;
    font-weight: 400;
    background: #B8DBD9;
    padding: 5px;



}

footer {
    color: #ffffff;
    background: #586F7C;
    font-family: 'Ubuntu', Courier, monospace;
    line-height: 5;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;

}

.photo {

    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    max-width: 300px;
    background: #eceaea;
}